*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    /* ------------- BOJE ------------- */
    --base-txt-clr:#1d1d1d;
    --base-txt-white-variety:#ffffff;
    --body-shadow:#757575;
    --html-bckground:rgb(41, 40, 40);
    --body:rgb(255, 255, 255);
    --border-nav:rgb(7, 7, 7);
    --table:rgb(77, 77, 77);
    --tableHeader:rgb(2, 129, 34);
    --tableRow1:rgb(166, 241, 185);
    --tableRow2:rgb(125, 196, 142);
    --selected:rgb(2, 129, 34);
    --form:rgb(255, 255, 255);
    --covered:rgba(41, 40, 40, 0.5);
    --footer:rgb(238, 238, 238);
    --aside-bg:rgb(230, 230, 230);
    --welcome-bg:rgba(4, 88, 4, 0.6);
    
    --search-wrap-bg:rgb(162, 231, 162);
    --button-clr-primary:rgb(13, 95, 33);
    --button-primary-border:rgb(0, 0, 0);
   /* ------------- FONTOVI ------------- */
    --table-txt-Font:0.8rem;
    --table-header-Font:0.9rem;
    --label-txt-font:0.9rem;
    --aside-font:0.8rem;
    --welcome-font:2.5rem;
}
html{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100vh;
    background-color:var(--html-bckground);
    font-family: 'Montserrat', sans-serif;
    letter-spacing:0.03em;
}
body{
    width:min(100%,60rem);
    min-height:30rem;
    box-shadow:0px 0px 10px 1px var(--body-shadow);
    border-radius:20px;
    background-color:var(--body);
    position:relative;

}
aside{
    z-index:20;
}
.index{
    font-size:var(--aside-font);
    display:flex;
    position:relative;
    width:100%;
    z-index:10;
}
.sadrzajAside{
    font-size:var(--aside-font);
    display:flex;
    position:relative;
    width:160px;
    height:30rem;
    z-index:10;
}
.button{
    border-radius:5px;
    border:1px solid var(--button-primary-border);
    padding-block:0.25em;
    padding-inline:1em;
}
.button:hover{
    cursor:pointer;
}
.input{
    padding-inline:0.2rem;
    padding-block:0.15rem;
}
.selected-link{
    color:var(--selected);
}
/* DUGME ZA PONISTENJE */
.dodajNovi__cancelWrap{
    position:absolute;
    top:0;
    right:0;
    margin-right:5px;
    margin-top:5px;
}
.dodajNovi__cancel{
    width:1rem;
    height:1rem;
    border:none;
    background-color:transparent;
}
.dodajNovi__cancel:hover{
    cursor:pointer;
}
.dodajNovi__cancel > img{
    width:100%;
    height:100%;
}

.login__cancelWrap{
    position:absolute;
    top:0;
    right:0;
    margin-right:5px;
    margin-top:5px;
}
.login__cancel{
    width:1rem;
    height:1rem;
    border:none;
    background-color:transparent;
}
.login__cancel:hover{
    cursor:pointer;
}
.login__cancel > img{
    width:100%;
    height:100%;
}
.login__wrapper{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    display:none;
    align-items:center;
    justify-content:center;
    z-index:1000;
    background-color:var(--covered);
}
.leviMeni{
    position:relative;
}