.index * img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.naslov__glavniDeo{
    display:flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    width:100%;
}
.naslov__dobrodosli{
    position:absolute;
    z-index:2;
    font-size:var(--welcome-font);
    background-color:var(--welcome-bg);
    padding-block:2rem;
    width:100%;
    visibility:visible;
}