.dodajNovi{
    background-color:var(--covered);
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.dodajNovi__form{
    background-color:var(--form);
    padding-inline:2rem;
    padding-block:2rem;
    position:relative;
    border-radius:10px;
}
.dodajNovi__h3Wrap{
margin-bottom:2rem;
}
.dodajNovi__inputWrap{
    display:flex;
    flex-direction:column;
    gap:0.15rem;
}
.dodajNovi__inputContainer{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dodajNovi__addBtnWrap{
    display:flex;
    justify-content:center;
    width:100%;
    margin-top:1rem;
}
.label{
    font-size: var(--label-txt-font);
}