.addNew{
    background-color:var(--covered);
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.addNew__form{
    background-color:var(--form);
    padding-inline:2rem;
    padding-block:2rem;
    position:relative;
    border-radius:10px;
}
.addNew__h3Wrap{
margin-bottom:2rem;
}
.addNew__inputWrap{
    display:flex;
    flex-direction:column;
    gap:0.15rem;
}
.addNew__inputContainer{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.addNew__cancelWrap{
    position:absolute;
    top:0;
    right:0;
    margin-right:5px;
    margin-top:5px;
}
.addNew__cancel{
    width:1rem;
    height:1rem;
    border:none;
    background-color:transparent;
}
.addNew__cancel:hover{
    cursor:pointer;
}
.addNew__cancel > img{
    width:100%;
    height:100%;
}
.addNew__addBtnWrap{
    display:flex;
    justify-content:center;
    width:100%;
    margin-top:1rem;
}
.label{
    font-size: var(--label-txt-font);
}